/* for the navlink active class */
/* .active {
  background-color: #dbe2ef;
  color: rgb(31, 41, 55);
  width: 100%;
  padding: 0.75rem 0.75rem;
  display: flex;
  gap: 0.75rem;
  width: 100%;
  border-radius: 0.375rem;
} */

/* for Loading spinnear */
.loader {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  font-weight: 800;
  display: inline-block;
  border-top: 5px solid #111;
  border-right: 5px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
